/* MAIN TAGS */
html {
    scroll-behavior: smooth;
}
body {
    margin-top: -1px;
    margin-bottom: -1px;
    font-family: "Raleway";
    font-weight: 200;
    background-color: white;
}

div {
    position: relative;
}
footer {
    border-top-color: #d9c6fb;
    border-top-style:double;
    height:20vh;
}
h1 {
    font-size: 3.5vw;
    margin: -.05rem;
}

h1.header {
    font-size: 3.3vw;
    font-family: "Raleway";
    font-weight: 900;
    letter-spacing: 2px;
    color: #8e67d0;
}
h1.def {
    
    font-family:"courier";
    padding-left: 2vw;
}
h2 {
    font-size: 2.9vw;
    display: block;
    margin: -.05rem;
}

h3 {
    font-size:2.3vw;
    display: block;
}

ul, p {
    margin-top: -1px;
    font-size: 18px;
    color: rgb(94, 94, 94);
    font-family: "Raleway";
    letter-spacing: 1px;
}

.w3-bar {
    letter-spacing: 4px;
    background-color: #ede2ff;
}
a.w3-bar-item {
    color: #7a4bba;
    font-size: 17px;
}
.w3-right {
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: 1px;
}

blockquote {
    padding: 10px 0px 30px 30px;
    border-left: 2px solid #d9c6fb;
    font-family: "Raleway";
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(94, 94, 94);
}

/* LINKS */
a.w3-bar-item:hover {
    color: rgb(255, 255, 255);
    transition: color .25s
}

a {
    text-decoration: none;
}

a.link {
    color: #8b41df;
    font-weight: 600;
}

a.link:hover {
    color: #cdb6e3;
}

img.insta {
    width: 30%;
}

/* CLASSES */

.icon{
    color: #7156b0;
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.2s cubic-bezier(0.41, 0, 0.25, 1.01);
}
.icon span{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.3vw;
    text-transform: uppercase;
    text-align:center;

}
.sub-icon {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1.3vw;
    text-transform: uppercase;
    color: #7156b0;
    padding-top: 1vw;
}
.primary-btn {
    background: #d9c6fb;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #6239a0;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    letter-spacing: 1px;
}

button.primary-btn:hover {
    background: #9f7ad4;
    color: #F5E1FD;
    cursor: pointer;
    transition: ease-in .2s;
}

/* ID */
#opening {
    height: 90vh;
    background-color: rgb(250, 246, 255);
}
#head-section{
    height:40vh;
    padding-top: 10vh;
    background-color: rgb(250, 246, 255);
}
#intro {
    padding-left: 2vw;
    padding-top: 30vh;

}

#photo {
    margin-left: auto;
    margin-right: 0;
}

#icon {
    color: #af90e5;
    font-size: 3.5vw;
    padding-left: 40px;
}
#icon:hover{
    color: #d9c6fb;
}

/* CODE FORMATTING IDS */

#code {
    font-family: courier;
    color: #e5a0e5;
    overflow: hidden;
}

#grey {
    color: #9f9f9f;
}

#purple {
    font-family: "courier";
    color: #8e67d0;
}
#light-purple {
    font-family: "courier";
    color: #bb96e2;
}
#blue {
    font-family: "courier";
    color: #65a9c9;
}

#str {
    font-family: "courier";
    color: rgb(106, 129, 218);
}

#string {
    font-family: "courier";
    color: rgb(106, 129, 218);
}

#string:hover {
    color: rgb(178, 191, 243);
    cursor: pointer;
}



/* ANIMATION */
.css-typing {
    font-family: "courier,monospace;";
    font-size: 14px;
    width: 100em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 1s steps(40, end);
    animation: type 1s steps(40, end);
}

.css-typing:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: type 1s steps(40, end);
    animation: type2 1s steps(40, end);
    -webkit-animation-delay: .8s;
    animation-delay: .8;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing:nth-child(3) {
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: type 1s steps(40, end);
    animation: type2 1s steps(40, end);
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing:nth-child(4) {
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: type .7s steps(40, end);
    animation: type2 .7s steps(40, end);
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing:nth-child(5) {
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: type .7s steps(40, end);
    animation: type2 .7s steps(40, end);
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing:nth-child(6) {
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: type .7s steps(40, end);
    animation: type2 .7s steps(40, end);
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    from {
        width: 0;
    }
}

@-webkit-keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    from {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    from {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
